body {
  background-color: royalblue;
  background-image: url('Space 01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%,100%;
}
mark {
  background-color: yellow;
  color: black;
  opacity: 0.8;
}
.button{
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 48px;
  right: 15px;
  width:100%;
  transition: 0.3s;
  }
  .button1{
    background-color: rgba(20, 24, 224,0.41);
  }
  .button2{
    background-color: rgba(230, 192, 26,0.41);
  }
  .button3{
    background-color: rgba(26, 230, 128,0.41);
  }
  .button4{
    background-color: rgba(230, 118, 26,0.41);
  }
  .buttonNull{
    border: 1px solid black;
  border-collapse: collapse;
  font-size: 48px;
  right: 15px;
  width:100%;
  opacity: 0.5;
  transition: 0.3s;
    height: 200px;
  }
